{% extends "base.html" %}

{% block title %}关于我们{% endblock %}

{% block main %}
 <!--
    <div class="container"> 
 -->
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="span9">
      <div class="hero-unit"> 
        <p>这个系统基于开源的Bootstrap框架开发，并使用Python中的Flask以及SQL Achemy组建对数据库进行读取和管理。</p>
        <p>感谢这些开源工程背后的贡献者</p>
        <br/>
        <p>Developed By:</p> 
        <br/>
        <h3>吴昊为</h3>
        <p>信息安全0902班 U200915313</p>
        <br/>
        <h3>文豪</h3>
        <p>信息安全0902班 U200915320</p>
      </div> 
      </div>
      <!-- Example row of columns --> 
      <!--
      <div class="row"> 
        <div class="span4"> 
          <h2>Heading</h2> 
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
          <p><a class="btn" href="#">View details &raquo;</a></p> 
        </div> 
       -->
 
 <!--
      <footer>       
        <p>&copy; Company 2012</p> 
      </footer> 
 -->
    <!--
    </div> 
    -->
    <!-- /container --> 
 
{% endblock %}
