{% extends "base.html" %}

{% block title %}新增航班信息{% endblock %}

{% block User %}
{{ msg['username'] }}
{% endblock %}

{% block main %}
 
    <div class="span9">
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <form>
        <legend>新增航班信息</legend>
        <label>航班名称:</label>
        <input name="fname" type="text" placeholder="示例:CZ001" value="" />
        <span class="help-block">航班名称用于表示航班识别信息，需要做到独一无二</span>
        <br/>
        <label>始发地:</label>
        <select name='ffrom'>
          <option value='1'>北京</option>
          <option value='2'>天津</option>
        </select>
        <label>目的地:</label>
        <select name='fto'>
          <option value='1'>北京</option>
          <option value='2'>天津</option>
        </select>
        <span class="help-block">用来表示飞机的始发地和目的地</span>
        <br/>
        <label>起飞时间:</label>
        <input name='fset' type="text" placeholder="示例:15:00"/>
        <label>飞行时间:</label>
        <input name='fdur' type="text" placeholder="示例:1:00"/>
        <br/>
        <label>起飞日期</label>
        <input name='fdayyear' type="text" style="width:40px" maxlength="5" placeholder="2012"/>年
        <input name='fdaymonth' type="text" style="width:20px" maxlength="3" placeholder="12"/>月
        <input name='fdayday' type="text" style="width:20px" maxlength="3" placeholder="1"/>日
        <span class="help-block">此处用来设定航班时刻信息</span>
        <br/>
        <label>票价</label>
        <input name='fprice' type="text" style="width:40px" maxlength="5" placeholder="500"/>元
        <span class="help-block">设定机票价格</span>
        <br/>
        <button type="submit" class="btn">提交</button>
      </form>
     </div>

{% endblock %}
