{% extends "base.html" %}

{% block title %}航班信息管理系统{% endblock %}

{% block User %}
{{ msg['username'] }}
{% endblock %}

{% block main %}
 
    <div class="span9">
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit">
        <a class="btn" href="/flight_manage_add/">新增</a>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>航班名称</th>
              <th>始发地</th>
              <th>目的地</th>
              <th>起飞时间</th>
              <th>飞行时间</th>
              <th>着陆时间</th>
              <th>日期</th>
              <th>价格</th>
              <th>座位数</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            
            {% if msg.flightlist != None %}
              {% for item in msg.flightlist %}
                <tr>
                  <td>{{ item.fname }}</td>
                  <td>{{ item.ffrom.name }}</td>
                  <td>{{ item.fto.name }}</td>
                  <td>
                    {{ item.fset }}
                  </td>
                  <td>
                    {{ item.fdur }}
                  </td>
                  <td>
                    {{ item.farr }}
                  </td>
                  <td>
                    {{ item.fsetday.year }}年{{ item.fsetday.month }}月{{ item.fsetday.day }}日
                  </td>
                  <td>￥{{ item.fprice }}</td>
                  <td>{{ item.fseat }}</td>
                  <td>
                    
                      <div class="btn-group">
                        <!-- <a class="btn btn-mini">编辑</a> -->
                        <a class="btn btn-mini" href="/flight_manage_delete?id={{ item.id }}">删除</a>
                        <button class="btn btn-mini" onclick="set_flight_id({{ item.id }})">售票</button>
                        <a class="btn btn-mini" href="/flight_info?fid={{ item.id }}">查看</a>
                      </div>
                  </td>  
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>          
        <a class="btn" href="/flight_manage_add/">新增</a>
        
      </div>
     </div>
         
    <!-- Modal -->
    <div class="modal" id="guestpop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">选择一名乘客</h3>
      </div>
      <div class="modal-body">
        <form id="ticket_form" method="POST" action="/book_ticket_view" >
          <input id="flightid" type="hidden" name="hfid" value="123" />
          <select id="guestid" name="hgid" >
            {% for item in msg.guestdict %}
              <option value = "{{ item }}">{{ msg.guestdict[item] }}</option>
            {% endfor%}
            
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-primary" onclick="submit_ticket_action()" >确定</button>
      </div>
    </div>

     <script type="text/javascript">
     function set_flight_id(sid){
      flightid = document.getElementById("flightid")
      flightid.value = sid
      modalpop = document.getElementById("guestpop")
      $('#guestpop').modal({show:true, backdrop:true})
     }

     function submit_ticket_action(){
      hform = document.getElementById("ticket_form")
      hform.submit()
     }
     </script>

{% endblock %}
