{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block main %}
 <!--
    <div class="container"> 
 -->
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="span9"> 	  
      <div class="hero-unit"> 
        <h1>欢迎来到航班管理系统</h1>
        <p>在这个系统中你将能创建和管理航班信息，管理乘客信息以及对座位和售票进行安排。</p>
        <br/>
        <p>Developed By 吴昊为 &文豪</p> 
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> 
      </div> 
      </div>
 
      <!-- Example row of columns --> 
      <!--
      <div class="row"> 
        <div class="span4"> 
          <h2>Heading</h2> 
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
          <p><a class="btn" href="#">View details &raquo;</a></p> 
        </div> 
       -->
 
 <!--
      <footer>       
        <p>&copy; Company 2012</p> 
      </footer> 
 -->
    <!--
    </div> 
    -->
    <!-- /container --> 
 
{% endblock %}
