{% extends "base.html" %}

{% block title %}Welcome Inside!{% endblock %}

{% block User %}
{{ msg['username'] }}
{% endblock %}

{% block main %}
 
    <div class="span9">
      <!-- Main hero unit for a primary marketing message or call to action --> 
      <div class="hero-unit">
        <p>您成功订到机票，座位是:</p> 
        <div class="well" >
          <p>{{ msg.srow }}排{{ msg.scol }}座</p>
        </div>
        <p>您的取票号为:</p>
        <div class="well" >
          <!-- ISGET -->
          <p>{{ msg.remind }}</p>
        </div>
        <p>您的账单号为:</p>
        <div class="well" >
          <!-- ISPAID -->
          <p>{{ msg.ticket}}</p>
        </div>
        <p>需支付: ￥{{msg.money}}</p>
        <p>请在{{ msg.reminddate.year}}年{{ msg.reminddate.month }}月{{ msg.reminddate.day}}日之前取票</p>
      </div>
     </div>

{% endblock %}
